.registered-info {

    &__amount {
        margin: 0;
        color: white;
        font-weight: 900;
        font-size: 80px;
    }
    &__description {
        color: white;
        font-size: 16px;
        max-width: 250px;
    }
}