.science {
    background-color: #fcf9fe;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    
    &-content {
        align-self: center;
        padding-right: 75px;
        
        &__header {
            text-align: center;
            margin-bottom: 35px;
        }
    }
}