* {
    font-family: "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #303030;
}

.header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900; 
}