.try {
    background-image: linear-gradient(
        259deg, #ac32e4, #7918f2 48%, #4801ff);
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;

}